<table id="links">
  <thead>
    <tr>
      <th scope="col">Status</th>
      <th scope="col">URL</th>
      <th scope="col">Text</th>
    </tr>
  </thead>
  <tbody>
    <% @audit.document.links.each do |link| %>
      <tr>
        <td><%= link.status_code %></td>
        <td><%= link.url %></td>
        <td><%= link.text %></td>
      </tr>
    <% end %>
  </tbody>
</table>
