<h1>Free Broken Link Checker</h1>

<%= form_with model: [:audit, @webpage] do |form| %>
  <%= form.label :url %>
  <%= form.url_field :url, required: true %>
  <%= form.submit "Audit Webpage" %>
<% end %>
